# MySQL подключение

## Установление соединения между MySQL и Python

#### Задача 1:


Установите соединение с базой данных MySQL с помощью Python, через MySQL Connector/ Python API, чтобы мы могли получать доступ к данным в соответствии с потребностями бизнеса. 

Шаги: 

* 1: Импортируйте соответствующую библиотеку MySQL connector, используя псевдоним connector 

* 2: Далее создайте переменную с именем connection и используйте ее для хранения экземпляра соединения, созданного с базой данных с помощью модуля connector.

In [1]:
import mysql.connector as connector

connection = connector.connect(user="admin",password="asd-qwe-zxc-77")

print("Соединение установлено")

Соединение установлено

#### Задача 2:

Для чистого безопасного кода при подключении к базе данных MySQL не должно возникнуть проблем с подключением. Для этого они хотят использовать блоки try/except в Python.

* 1: Как указано выше, импортируйте экземпляр MySQL connector, используя псевдоним connector. 
* 2: Откройте блок "Попробовать" и введите в него соответствующий код подключения

In [4]:
import mysql.connector as connector

try:
    connection = connector.connect(user="admi",password="asd-qwe-zxc-77")
except:
    print("Возникла проблема с подключением к базе данных.\nПожалуйста, проверьте свое имя пользователя или пароль.")

Возникла проблема с подключением к базе данных.
Пожалуйста, проверьте свое имя пользователя или пароль.

In [12]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

C:\Users\user\AppData\Local\Temp\ipykernel_13180\767083216.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [14]:
import sqlalchemy as sa

class MenuItems(Base):
    __tablename__ = 'MenuItems'

    itemID = sa.Column(sa.Integer, primary_key=True, autoincrement=True)
    name = sa.Column(sa.VARCHAR(200))
    type = sa.Column(sa.VARCHAR(100))
    price = sa.Column(sa.Integer)

In [19]:
from contextlib import contextmanager

import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker

main_engine = sa.create_engine(
    'mysql+pymysql://admin:asd-qwe-zxc-77@127.0.0.1/little_restaurant',
    echo=True,
)

DBSession = sessionmaker(
    binds={
        Base: main_engine,
    },
    expire_on_commit=False,
)


@contextmanager
def session_scope():
    """Provides a transactional scope around a series of operations."""
    session = DBSession()
    try:
        yield session
        session.commit()
    except Exception as e:
        session.rollback()
        raise e
    finally:
        session.close()

if __name__ == '__main__':
    with session_scope() as s:
        menu_items = s.query(MenuItems).all()
        for item in menu_items:
            print(f"Запись: {item}")

2024-12-18 23:20:59,200 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-12-18 23:20:59,202 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-12-18 23:20:59,205 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-12-18 23:20:59,206 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-18 23:20:59,209 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-12-18 23:20:59,210 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-18 23:20:59,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-18 23:20:59,216 INFO sqlalchemy.engine.Engine SELECT `MenuItems`.`itemID` AS `MenuItems_itemID`, `MenuItems`.name AS `MenuItems_name`, `MenuItems`.type AS `MenuItems_type`, `MenuItems`.price AS `MenuItems_price`
FROM `MenuItems`
2024-12-18 23:20:59,219 INFO sqlalchemy.engine.Engine [generated in 0.00174s] {}
2024-12-18 23:20:59,222 INFO sqlalchemy.engine.Engine COMMIT

#### Задание 3:

Если вы хотите знать причину любых проблем, которые могут возникнуть при подключении к базе данных. Помогите им получить код ошибки вместе с сообщением об ошибке в следующих ситуациях: 

* База данных не существует 
* Неверное имя пользователя или пароль 

Шаги для достижения этой цели 
* Сначала импортируйте экземпляр MySQL connector, используя псевдоним connector 
* Откройте блок try и поместите туда соответствующий код подключения.

In [5]:
import mysql.connector as connector

try:
    connection = connector.connect(user="admi",password="asd-qwe-zxc-77")
except connector.Error as er:
    print(f"Код ошибки: {er.errno}")
    print(f"Сообщение об ошибке: {er.msg}")

Код ошибки: 1045
Сообщение об ошибке: Access denied for user 'admi'@'localhost' (using password: YES)

In [6]:
if connection.is_connected():
    connection.close()
    print ("Соединение с MySQL закрыто.")
else:
    print("Подключение к MySQL уже закрыто.")

Соединение с MySQL закрыто.

## Создание табличной структуры в базе данных MySQL с использованием Python

## Упражнение

Создать приложение на базе Python, в котором будет возможность упорядочивать свои данные в различных таблицах базы данных MySQL. 

Сначала нужно создать свою базу данных. Затем нужно создать таблицы базы данных. 

Список таблиц, которые нужно создать, следующий: 

* Таблица Menu, в которой хранятся данные меню 
* Таблица MenuItems, в которой хранятся данные об элементах меню 
* Таблица Orders, в которой хранятся данные о заказах клиентов 
* Таблица Bookings, в которой хранятся данные о заказах клиентов

#### Задание 1:
Создать базу данных, в которой могут храниться таблицы. Назовем базу данных “little_restaurant”. 

Вам также необходимо подтвердить, что база данных была успешно создана, выполнив запрос SHOW databases (ПОКАЗАТЬ базу данных).

In [7]:
import mysql.connector as connector

connection = connector.connect(user="admin",password="asd-qwe-zxc-77")

cursor = connection.cursor()

# cursor.execute("drop database little_restaurant")

create_database_query = """CREATE DATABASE little_restaurant"""

cursor.execute (create_database_query)

show_db = """show databases"""

cursor.execute(show_db)

for database in cursor:
    print(database)

DatabaseError: 1007 (HY000): Can't create database 'little_restaurant'; database exists

#### Задача 2:
Установите для использования только что созданную базу данных “little_restaurant”. Подтвердите, что база данных доступна для использования, используя `connection.database`.

In [12]:
# настройка little_restaurant для использования
cursor.execute("USE little_restaurant")
connection.database

'little_restaurant'

#### Задача 3:
Создание таблиц

Создайте таблицу “MenuItems”, используя следующий SQL-запрос в виде строки Python:

```Python
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""
```
После выполнения запроса используйте команду SHOW TABLES (ПОКАЗАТЬ ТАБЛИЦЫ), чтобы подтвердить, что таблица была создана.

In [13]:
# создание таблицы MenuItems
menu_items = """ CREATE TABLE MenuItems ( ItemID INT AUTO_INCREMENT, Name VARCHAR(200), Type VARCHAR(100),
Price INT, PRIMARY KEY (ItemID));"""
cursor.execute(menu_items)
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menuitems',)

#### Задача 4: 

Создайте таблицу `“Menus”` для хранения данных о меню, используя следующий SQL-запрос в виде строки на языке Python.

```Python
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""
```
После выполнения запроса используйте команду SHOW TABLES (ПОКАЗАТЬ ТАБЛИЦЫ), чтобы подтвердить, что таблица была создана.

In [14]:
# создание таблицы Menus 
menus_table =""" create table Menus (MenuID INT, ItemID INT,  Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID));"""
cursor.execute(menus_table)

cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menuitems',)
('menus',)

#### Задача 5: 

Создайте таблицу “Bookings” для хранения данных о бронированиях клиентов, используя следующий SQL-запрос в виде строки на языке Python:

```Python
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""
```
После выполнения запроса используйте команду SHOW TABLES (ПОКАЗАТЬ ТАБЛИЦЫ), чтобы подтвердить, что таблица была создана.

In [15]:
# создание таблицы Bookings 
bookings_table = """ create table Bookings (BookingID INT AUTO_INCREMENT, TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL, GuestLastName VARCHAR(100) NOT NULL, BookingSlot TIME NOT NULL,
EmployeeID INT, PRIMARY KEY (BookingID));"""
cursor.execute(bookings_table)
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)

#### Задача 6: 

Создайте таблицу “Заказы” для хранения данных о заказах клиентов, используя следующий SQL-запрос в виде строки на языке Python:

```Python
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""
```

После выполнения кода используйте команду SHOW TABLES (ПОКАЗАТЬ ТАБЛИЦЫ), чтобы подтвердить, что таблица была создана.

In [16]:
# создание таблицы
orders_table = """ CREATE TABLE Orders (OrderID INT, TableNo INT, MenuID INT,
BookingID INT, BillAmount INT, Quantity INT, PRIMARY KEY (OrderID,TableNo));"""
cursor.execute(orders_table)
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)
('orders',)