# Введение в Python

Для прикладных целей важно овладеть несколькими аспектами:

* Структурное программирование
  * Переменная в Python
  * Основные типы данных
  * Форматный вывод
  * Математические операции и стандартные функции в Python
* Функции в Python возвращаемые и невозвращаемые и их применение
* Типовые исключения (ошибки программы) в Python

## Установка библиотек 
numpy  
pandas  
matplotlib  
seaborn  
plotly
psycopg2  
mysql-connector-python  
sqlalchemy  
pyspark  
pyfunctional  
multiprocessing   
asyncio   
pytest  
robot  
testify  
requests  
selenium  
bs4  
scrapy  
scikit-learn

# Структурное программирование

## Стандартные функции языка

Функции - это маленькие блоки, которые умеют выполнять какую-то операцию <br />
Функции <b>вызываются</b>, после имени функции следуют круглые скобки, в которых указываются <b>аргументы</b> (над каким объектом будет выполнена операция) и <b>параметры </b> (с какими условиями)

### print()
Функция для вывода содержимого на экран. <br>
**Обязательно**: передать хотя бы какой-то объект, который нужно напечатать.

Ее полный синтаксис:

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)¶
- objects: один или несколько объектов для вывода, перечисленные через запятую
- sep: разделитель между несколькими объектами; стандартно установлен пробел
- end: окончание строки; стандартно установлен перевод на новую строчку '\n'

In [11]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [24]:
print(5)
print('Переменная равна: {:.1f} и вторая переменная равна: {:.3f}'.format(5.123, 7.9384950))

5
Переменная равна: 5.1 и вторая переменная равна: 7.938

### input()
Функция для ввода данных в программу с клавиатуры. <br>
Обязательных аргументов нет. Можно передавать строчку, которая будет выведена перед ячейкой ввода.

In [17]:
input?

Signature: input(prompt='')
Docstring:
Forward raw_input to frontends

Raises
------
StdinNotImplementedError if active frontend doesn't support stdin.
File:      ~/develops/python/env1/lib/python3.12/site-packages/ipykernel/kernelbase.py
Type:      method

In [19]:
number = 5

In [20]:
type(number)

int

In [23]:
name = input('Введите ваше ФИО:!!!! ')
print('Меня зовут ', name)

Меня зовут  123

### Переменные: введение

In [ ]:
'Это строка'

'Это строка'

In [ ]:
test_text = "Это строка" #неизменяемая

In [ ]:
type(test_text)

str

In [ ]:
test_text = test_text + "678"

In [ ]:
test_text

'Это строка678'

In [ ]:
compl = complex(4)
test_list = [45, 3.6, 345.56, compl, "jhgfgjfdf", 'sfsdgdfg', [8, 'sfsdf', "Дорога"], float(78.7)]
# нумерация list всегда с 0

In [ ]:
type(test_list[3])

complex

#### Форматирование строк

Использование оператора % для вывода вещественного числа с двумя знаками после запятой:

In [ ]:
a = 4 / 3
print('%.3f' % a)

1.333

Использование метода format() для форматирования строки с именованными аргументами:

In [ ]:
print("A = {0}, B = {1}, С = {2}".format(3, 4, 7))

A = 3, B = 4, С = 7

Использование оператора % для вывода символа по его коду:

In [41]:
print('%c' % 165)

¥

In [ ]:
# сохранение всех символов  и кодов к ним
with open('../data/unicode_table.txt', 'w', encoding='utf-8') as f:
    for code in range(32, 256):
        f.write(f'{code}: {chr(code)}\n')

Эти методы позволяют создавать хорошо структурированный и читаемый вывод данных в Python, что особенно полезно при работе с пользовательским интерфейсом, логированием или отчетностью.

Использование f-строк в Python предлагает ряд преимуществ по сравнению с другими методами форматирования строк

Пример использования f-строк в Python демонстрирует их гибкость и мощь в форматировании строк, включая встраивание выражений, форматирование чисел и дат, а также вывод имен переменных вместе с их значениями:

In [ ]:
# Встраивание выражений
name = "Марсель"
age = 24
print(f"Hello, my name is {name} and I am {age} years old.")

Hello, my name is Марсель and I am 24 years old.

In [59]:
# Форматирование чисел
number = 1234567890.05
print(f"С разделением разрядов: {number:,}  \nС добавлением нулей в начало: {number:014}")

С разделением разрядов: 1,234,567,890.05
С добавлением нулей в начало: 01234567890.05

In [61]:
# Форматирование даты и времени
from datetime import datetime
now = datetime.now()
print(f"Текущая дата и время: {now:%Y-%m-%d %H:%M:%S}")

Текущая дата и время: 2025-07-25 13:39:32

In [ ]:
# Вывод имен переменных вместе с их значениями (Python 3.8+)
x = 10
y = 25
print(f"x = {x}, y = {y}")  # x = 10, y = 25
print(f"{x = }, {y = }")  # x = 10, y = 25

x = 10, y = 25
x = 10, y = 25

In [ ]:
# Форматирование с отладкой (Python 3.8+)
print(f"{x = :.3f}")  # x = 10.000

x = 10.000

In [ ]:
# Форматирование даты и времени
import datetime
today = datetime.datetime.today()
print(f"{today:%Y-%m-%d}")  # 2022-03-11
print(f"{today:%Y}")  # 2022

2024-05-13
2024

In [ ]:
# Пример с встраиванием выражений
result = 5 * 2 + 3
print(f"GeeksforGeeks is {result} characters.")

GeeksforGeeks is 13 characters.

### Арифметические операции
- Сложение: +
- Вычитание: -
- Умножение: *
- Деление: /
- Возведение в степень: **
- Целочисленное деление: //
- Остаток от деления: %

In [ ]:
print('Работаем с числами', 5, 'и', 2)
print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)
print(5 // 2)
print('Результат остатка от деления:', 5 % 2)
print('Результат возведения в степени:', 5 ** 2)

Работаем с числами 5 и 2
7
3
10
2.5
2
Результат остатка от деления: 1
Результат возведения в степени: 25

In [ ]:
# мгновенный вывод не экране (flush=True) без буферезации
print(5 + 2, flush=True)

7

### Переменные и типы переменных

Результаты операций и манипуляций иногда нужно сохранять, поэтому мы определяем переменные - именованные объекты, которым присваиваем значения.

In [ ]:
# Задаем значения переменных

area = 100
pi = 3.14
radius = (area / pi) ** (0.5)

In [ ]:
# Вывести на печать радиус
print('radius', radius, sep='=')

radius=5.643326479831003

In [ ]:
# Приведение типов
num = 10
float_num = float(num) # приведение значения num к типу float
str_num = str(num) # приведение значения num к типу str
str_value = "True"
bool_value = bool(str_value) # приведение значения str_value к типу bool

#Распечатать тип данных

print(f'Тип данных переменной num - {type(num)}')
print(f'Тип данных переменной float_num - {type(float_num)}')
print(f'Тип данных переменной str_num - {type(str_num)}')
print(f'Тип данных переменной str_value - {type(str_value)}')
print(f'Тип данных переменной bool_value - {type(bool_value)}')

Тип данных переменной num - <class 'int'>
Тип данных переменной float_num - <class 'float'>
Тип данных переменной str_num - <class 'str'>
Тип данных переменной str_value - <class 'str'>
Тип данных переменной bool_value - <class 'bool'>

### Основные типы данных:
    
- int (integer numbers) - целые числа
- float (floating-point numbers) - числа с плавающей точкой
- str (string) - строки
- bool (boolean) - логический тип

Функция **type** позволяет определить, какого типа переменная нам дана или какого типа переменную мы записали.

In [ ]:
text = 'Площадь круга'
print(type(text))

In [ ]:
x = True
print(type(x))

Если нужно поменять тип переменной, то полезны функции:

- int() - возвращает целочисленную переменную
- float() - возвращает нецелочисленную переменную
- bool() - возвращает булеву переменную
- str() - возвращает строковую переменную

In [ ]:
# Конкатенация строк
'Мое имя' + ' ' + 'Дмитрий'

##  Базовые конструкции

### Логические выражения

По аналогии с арифметическими выражениями существуют логические выражения, которые могут быть истинными или ложными. Простое логическое выражение имеет вид <br />

<арифметическое выражение> <знак сравнения> <арифметическое выражение>. <br />

Например, если у нас есть переменные x и y с какими-то значениями, то логическое выражение <br /> x + y < 3y <br /> в качестве первого арифметического выражения имеет x + y, в качестве знака сравнения < (меньше), а второе арифметическое выражение в нём 3y.

Логические выражения:
- $<$   меньше
- $>$  больше
- $<=$  меньше или равно
- $>=$  больше или равно
- $==$  равно
- $!=$  не равно

In [ ]:
2 != 3

True

In [ ]:
a=2
b=3

a != b

True

In [ ]:
x = 2 * 2 == 5
print(type(x))
print(x)
print(int(x))

<class 'bool'>
False
0

In [ ]:
x = 2 * 2 != 5
print(type(x))
print(x)
print(int(x))

<class 'bool'>
True
1

Чтобы записать сложное логическое выражение, часто бывает необходимо воспользоваться логическими связками "и", "или" и "не". В Питоне они обозначаются как and, or и not соответственно. Операции and и or являеются бинарными, т.е. должны быть записаны между операндами, например x < 3 or y > 2. Операция not - унарная и должна быть записана перед единственным своим операндом.

In [ ]:
x = 4
y = 5
print(x > 3 and y > 3)
print(x > y or x == y)
print(not (x > y))

True
False
True

In [ ]:
a = 1
b = 2
c = 3
d = 4

((a == d) and (a > c)) != 4

True

In [ ]:
((False) and (False)) != 4

True

In [ ]:
False != 4

True


### Условный оператор

Наиболее частое применение логические выражения находят в условных операторах.

Синтаксис в Python: <br />
**if** условие_1:<br />
&emsp; команды<br />
**elif** условие_2:<br />
&emsp; команды<br />
**elif** условие_3:<br />
&emsp; команды<br />
&emsp; ... <br />
**elif** условие_N:<br />
&emsp; команды<br />
**else**: <br />
&emsp; команды<br />

In [ ]:
x = 2 ** 3   # 8
y = 3 ** 2   # 9

if x > y:
    print('X больше Y')
    print(x - y)
else:
    print(' ')
    print('Y не меньше, чем X')

In [ ]:
x = int(input('Введите число X: '))
y = int(input('Введите число Y: '))

if x > y:
    print('X больше Y')
    print('x - y = ', x - y)
elif y > x:
    print('Y больше X')
    print('y - x = ', y - x)
else:
    print('X равно Y')

### Цикл while

Циклические конструкции используются для многократного повторения одних и тех же действий.

В цикле while команды выполняются до тех пор, пока некоторое заданное условие верно. При этом, если в теле цикла прямо не прописана процедура изменения переменной, заданной в условии, то получится бесконечный цикл :)

Структура цикла while:

In [ ]:
candies_num = 3

while candies_num > 0:
    print('Конфеты есть')
    candies_num -=1        #  то же самое, что и candies_num = candies_num - 1

### Функция range(n)

Функция range выдает последовательность чисел в зависимости от заданных параметров

Синтаксис функции:

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(3, 12):
    print(i)

In [ ]:
for i in range(3, 12, 2):
    print(i)

## Цикл for

Команды в цикле for выполняются для заданного списка объектов и повторяются столько раз, сколько этих объектов.

Дословно это работает так:

*Питон, для каждого объекта из списка объектов выполни, пожалуйста, вот это действие* :)

In [ ]:
# Перекличка :)
for i in range(1, 5):
    print(i)

In [ ]:
for animal in ['кошка', 'собака', 'жираф', 'хомяк']:
    print(animal)

# Функции
Функции – это многократно используемые фрагменты программы. Они позволяют дать имя определенному блоку команд для того, чтобы выполнять этот блок по указанному имени в любом месте программы и сколь угодно много раз. Это называется вызовом функции. Мы уже использовали встроенные функции: print, input, len, range;

Функции могут принимать параметры, т.е. некоторые значения, передаваемые функции для того, чтобы она что-либо сделала с ними.

Параметры указываются в скобках при объявлении функции и разделяются запятыми. Аналогично мы передаём значения, когда вызываем функцию. Обратите внимание на терминологию: имена, указанные в объявлении функции, называются параметрами, тогда как значения, которые вы передаёте в функцию при её вызове, – аргументами.

In [ ]:
def print_max(a, b):
    #невозвращаемая функция
    if a > b:
        print(a, 'максимально')
    elif a == b:
        print(a, 'равно', b)
    else:
        print(b, 'максимально')
print_max(7, 9)
print_max(74, 92)
print_max(17, 439)
print_max(27, 59)
print_max(17, 69)
print_max(37, 29)
print_max(17, 94)
print_max(17, 559)
print_max(72, 449)

9 максимально
92 максимально
439 максимально
59 максимально
69 максимально
37 максимально
94 максимально
559 максимально
449 максимально

In [ ]:
type(print_max)

function

In [ ]:
type(print_max(3, 4))  # прямая передача значений

4 максимально

NoneType

In [ ]:
x = 5
y = 7

print_max(x, y)  # передача переменных в качестве аргументов

7 максимально

При объявлении переменных внутри определения функции, они никоим образом не связаны с другими переменными с таким же именем за пределами функции – т.е. имена переменных являются локальными в функции. Это называется областью видимости переменной. Область видимости всех переменных ограничена блоком, в котором они объявлены, начиная с точки объявления имени.

In [ ]:
x = 50

def func(x):
    print('x равен', x)
    x = 2
    print('Замена локального x на', x)

func(x)
print('x по-прежнему', x)

x равен 50
Замена локального x на 2
x по-прежнему 50

Часть параметров функций могут быть необязательными, и для них будут использоваться некоторые заданные значения по умолчанию, если пользователь не укажет собственных. Этого можно достичь с помощью значений аргументов по умолчанию. Их можно указать, добавив к имени параметра в определении функции оператор присваивания (=) с последующим значением.

In [ ]:
def say(message, times=1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

Локальные и глобальные переменные в Python относятся к области видимости переменных в программе. Область видимости определяет, где в коде переменная может быть доступна для использования.

* Локальные переменные объявляются внутри функции и доступны только внутри этой функции. Они создаются при входе в функцию и удаляются при выходе из нее. Локальные переменные не могут быть доступны вне функции, в которой они были объявлены.
* Глобальные переменные объявляются вне всех функций и доступны для использования в любой части программы, включая все функции. Глобальные переменные создаются при загрузке модуля и существуют до тех пор, пока модуль не будет удален из памяти.


Пример использования локальных и глобальных переменных:

In [ ]:
# Глобальная переменная
global_var = "Я глобальная переменная"

def example_function():
    # Локальная переменная
    local_var = "Я локальная переменная"

    print("Глобальная переменная:", global_var)
    print("Локальная переменная:", local_var)

# Доступ к глобальной переменной из функции
print("Глобальная переменная:", global_var)

# Доступ к локальной переменной из функции
example_function()

# Попытка доступа к локальной переменной вне функции приведет к ошибке
# print(local_var)  # Ошибка: local_var не определена

### Оператор return
Оператор return используется для возврата из функции, т.е. для прекращения её работы и выхода из неё. При этом можно также вернуть некоторое значение из функции

In [ ]:
def maximum(x, y):
    if x > y:
        return x
    elif x == y:
        return 'Числа равны.'
    else:
        return y

In [ ]:
type(maximum(7, 9))

int

## Функции с параметрами

Функция с одним параметром типа int:

In [ ]:
def add_one(number: int) -> int:
    """Добавляет 1 к числу."""
    return number + 1

result = add_one(5)
print(result)  # Выведет: 6

6

In [ ]:
add_one(3)

4

Функция с двумя параметрами разных типов (str и int):

In [ ]:
def greet_and_count(name: str, age: int) -> None:
    """Приветствует пользователя и выводит его возраст."""
    print(f"Привет, {name} Тебе {age} лет.")

greet_and_count("Алексей", 30)

Функция с тремя параметрами разных типов (str, float, и bool):

In [ ]:
def calculate_discount(price: float, discount_percent: float, is_tax_included: bool) -> float:
    """Рассчитывает итоговую цену с учетом скидки и налога."""
    discount = price * (discount_percent / 100)
    tax = price * 0.2 if is_tax_included else 0
    return price - discount + tax

total_price = calculate_discount(100.0, 10.0, True)
print(total_price)  # Выведет: 90.0